$slick-font-path: "../fonts/";
$slick-font-family: "slick";
$slick-loader-path: "../img/";

@import "node_modules/slick-carousel/slick/slick.scss";
@import "node_modules/slick-carousel/slick/slick-theme.scss";